.wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    border-bottom: 1px solid blue;
}

.foto {
    max-height: 300px;
    overflow: hidden;
}

.foto img{
    margin: 10px;
    width: 90%;
    border: 1px solid blue;
    border-radius: 20px;
}