.navbar {
    float: right;
    position: relative;
    margin: 15px;
}

.navbar ul {
    overflow: hidden;
    padding: 0;
    list-style: none;
    margin: 0 auto;
}

.navbar li {
    display: inline;
    float:left;
    position: relative;
    margin: 0 0 0 5px;
    padding: 9px 15px;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar li:hover {
    background-color: rgb(66, 66, 71);
    border-radius: 5px;
    border: 0;
}

.navbar li:hover a {
    color: white;
}

.navbar li a.active {
    color: navy;
}