.wrapper {
    display: grid;
    grid-template-areas:
            "h h"
            "l m";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 20% 1fr;
}

.header {
    grid-area: h;
    background-color: gray;
}

.mainframe {
    grid-area: m;
    background-color: aquamarine;
}

.leftsidebar {
    grid-area: l;
    background-color: cadetblue;
}